{% extends 'jobsdb/layout.html' %} {% block body %}
<div class="container">
  <div>
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <input
            type="text"
            placeholder="search for jobs here"
            class="form-control"
            name="search"
          />
        </div>
        <div class="col-md-12 mt-1">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    {% for job in jobs %}
    <div class="col-md-3 m-1">
      <div class="card">
        <div class="card-body">
          <h3>{{job.title}}</h3>
          <h4>{{job.company_name}}</h4>
          <a href="{{job.link}}">View Job</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}
